@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Accessibility Styles */
@layer base {
  @import "./accessibility.css";
}

/* Tailwind Layers */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  perspective: 4px;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
}

h3 {
  @apply text-lg font-bold mt-3;
}

/* Content Utilities */
ul {
  @apply list-disc pl-6;
}

h2 {
  @apply text-3xl font-bold;
}

h4 {
  @apply text-xl font-bold;
}

/* Layout Utilities */
.page-container {
  @apply flex h-screen relative;
}

.page-section-nav {
  @apply hidden md:block w-36 flex-shrink-0 bg-white shadow-md z-50;
}

.main-content {
  @apply flex-grow overflow-y-auto focus:outline-none;
}

.content {
  @apply relative z-10 p-5 text-center;
}

/* Hero Section */
main {
  @apply w-full h-full overflow-y-scroll;
}

section {
  @apply w-full relative z-20;
}

main {
  transform-style: preserve-3d;
}

.hero-parent-container {
  @apply opacity-0 scale-75 h-[calc(100vh-4em)] w-[calc(100vw-4em)] box-border;
  background-image: linear-gradient(
    325deg,
    hsl(219deg 96% 9%) 0%,
    hsl(215deg 97% 9%) 10%,
    hsl(214deg 95% 10%) 19%,
    hsl(221deg 85% 13%) 29%,
    hsl(220deg 90% 12%) 46%,
    hsl(216deg 100% 9%) 100%
  );
}

/* Signature Wrapper */
.signature-wrapper {
  @apply flex justify-center items-center;
}

/* Phrases */
.phrases-container,
.phrase {
  @apply font-sans text-center text-gray-800 text-xl;
}

.phrases-container .text-gray-500 {
  @apply mx-2;
}

/* Social Media Navigation (specific to CV page) */
.social-media-nav {
  @apply flex justify-center space-x-4 mt-8;
}

.social-media-nav a {
  @apply text-gray-600 transition-transform duration-200 hover:text-primary;
}

.social-media-nav svg {
  @apply h-8 w-8;
}


.spotify-player iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 12px;
}